{% extends 'base.html.twig' %} {% block title %}
<title>
  Home
</title>
{% endblock %} {% block content %}


  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <div class="jumbotron">
      <h1 class="display-3">The Future Sound</h1>

      <hr class="my-4">
      <p>Sure, it’s not perfect (*cough* “No more dead cops!”), but it remains a gripping, beautifully acted film even after
        dozens of viewings. And it is still the world’s finest superhero movie, despite a deluge of costume-clad contenders
        that have taken to the big screen in the decade since its release.</p>
      <p class="lead">
        <a class="btn btn-info btn-lg" href="#" role="button">Shop</a>
      </p>
    </div>


    <!-- Page Features -->
    <div class="row text-center">
      {% for row in result %}

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top mx-auto" src="{{asset('uploads/images/'~row.image)}}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{row.name}}</h4>
            <p class="card-text">{{row.description[:20]}} ...</p>
          </div>
          <div class="card-body">
            <p class="card-text">{{row.price}} €</p>
          </div>
          <div class="card-footer">
            <a href="{{path('product',{id:row.id})}}" class="btn btn-info">See Product</a>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>
    <!-- /.row -->
  </div>

  

{% endblock %}