{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block content %}

<div class="container">
    <h1>Add Adress</h1>
{{form_start(form)}}
{{form_widget(form)}}
<button class="btn btn-info">Add Product</button>
{{form_end(form)}}
</div>

{% endblock %}

